@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .banner-img-layer {
    z-index: 0;
    transform-style: preserve-3d;
  }
  .banner-img-layer::before,
  .banner-img-layer::after {
    @apply content-[''] absolute inset-x-12 lg:inset-x-24 right-16 lg:right-32 inset-y-7 lg:inset-y-14 border-white;
  }

  .banner-img-layer::before {
    border-top-width: 20px;
    z-index: -1;
  }
  .banner-img-layer::after {
    border-width: 20px;
    border-top-width: 0;
  }

  .container {
    @apply max-w-screen-xl h-full mx-auto px-4;
  }
  .grid-container {
    max-width: calc(calc(16rem * 4) + 90px);
    @apply h-full mx-auto px-4;
  }

  .card {
    @apply transition-all duration-300;
  }

  .card .btn {
    @apply transition-all duration-300;
  }

  .card:has(.btn:hover) {
    @apply bg-gray-200;
  }

  .product-grid {
    @apply grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-4;
  }

  .default-card-style {
    @apply card min-w-[16rem] h-[20rem] relative p-4 flex items-end bg-gray-100 z-0 rounded-md overflow-hidden;
  }

  .section-title {
    @apply text-xl md:text-2xl lg:text-3xl font-semibold;
  }

  .product .btn {
    @apply translate-y-96 duration-300 transition-transform bg-white shadow-md items-center justify-center capitalize hover:!bg-white/70 backdrop-blur-sm font-semibold !text-black;
  }

  .product:hover .btn {
    @apply translate-y-0;
  }

  .product:hover .action {
    @apply translate-x-0;
  }

  .product .action {
    @apply absolute top-4 right-0 p-3 flex flex-col gap-2 translate-x-96 duration-300 transition-transform;
  }
  .product .icon-btn {
    @apply w-9 h-9 aspect-square justify-center items-center bg-white !text-black shadow-sm hover:bg-white/70 backdrop-blur-md !rounded-full;
  }

  .default-btn {
    @apply h-14 bg-black text-center w-full text-white flex items-center gap-2 rounded-lg text-lg;
  }
}

.carousel::-webkit-scrollbar {
  display: none !important;
}

.carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
